@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Athiti:wght@200;300;400;500;600;700&display=swap');

@keyframes rainbow{
	100%,0%{
		color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}

@keyframes rainbow-bg{
	100%,0%{
		background-color: rgb(255,0,0);
	}
	8%{
		background-color: rgb(255,127,0);
	}
	16%{
		background-color: rgb(255,255,0);
	}
	25%{
		background-color: rgb(127,255,0);
	}
	33%{
		background-color: rgb(0,255,0);
	}
	41%{
		background-color: rgb(0,255,127);
	}
	50%{
		background-color: rgb(0,255,255);
	}
	58%{
		background-color: rgb(0,127,255);
	}
	66%{
		background-color: rgb(0,0,255);
	}
	75%{
		background-color: rgb(127,0,255);
	}
	83%{
		background-color: rgb(255,0,255);
	}
	91%{
		background-color: rgb(255,0,127);
	}
}

.rainbow {
	animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

.rainbow-bg{
	animation: rainbow-bg 2.5s linear;
	animation-iteration-count: infinite;
}

*, body {
	box-sizing: border-box;
	font-family: "Anuphan", sans-serif;
	font-style: normal;
	transition: 0.2s ease all;
}

nav {
	z-index: 999999;
}

h1, .navbar-brand {
	font-family: "Athiti", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2, h3, .title {
	font-family: "Athiti", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.i-full {
	width: 100%;
	min-height: 100vh;
	padding-top: 88px;
	background-image: url("back3.jpg");
	background-size: cover;
	background-position: center center;
}

.i-full-grid {
	display: grid;
	grid-template-columns: 100%;
}

@media (min-width: 960px), (min-width: 960px) {
	.i-full {
		padding-top: 16vh;
	}
	
	.i-full-grid {
		grid-template-columns: 50% 50%;
	}
}

.box-rwh {
	color: black;
	background-color: rgba(23, 25, 26, 0.5);
	backdrop-filter: blur(8px);
	border-radius: 12px;
	margin-bottom: 8px;
	padding: 6px;
}

.i-title {
	font-family: "Athiti", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: min(max(320%, 10vw), 128px);
}

.gr-back {
	width: 192px;
	height: 192px;
	border-radius: 100%;
}

.gr-front {
	width: 172px;
	height: 172px;
	border-radius: 100%;
	margin-top: -182px;
	margin-bottom: 0;
}

#alc-value {
	line-height: 154px;
	font-size: 48px;
	font-weight: 700;
}

.i-alc {
	font-size: 32px;
}

.i-center {
	place-items: center;
}

.i-center > * {
	cursor: not-allowed;
}

.i-unit {
	position: relative;
	top: -40px;
}

.fs-smaller {
	font-size: smaller;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	z-index: 99998;
	display: none;
}

#loading img {
	width: 48px;
	height: 48px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}

.www-50 {
	width: 50%;
	min-width: 300px;
}

.member_list {
	display: grid;
	grid-template-columns: 50% 50%;
}

.member_p {
	padding: 24px;
	border-radius: 32px;
	background-color: rgba(23, 25, 26, 0.5);
	display: grid;
	grid-template-columns: 128px calc(100% - 128px);
	align-items: center;
}

.member_p > img {
	width: 128px;
}

@media screen and (max-width: 700px) {
	.member_list {
		grid-template-columns: 100%;
	}
}