@media screen and (max-width: 399px) {
	#nav-subtitle {
		display: none;
	}
}

.gameplay {
	
}

.ans_grid {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 164px;
}

.ans_grid > button {
	margin: 6px;
}

#ques_img {
	width: 100%;
	max-width: 700px;
}

.score_table {
	max-height: 62vh;
	overflow: auto;
}